@model Kursovaya_MVC.Department

@{
    ViewBag.Title = "Удалить отдел";
}

<h2>УДалить отдел</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numb_Rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numb_Rooms)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
